# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
modules/__pycache__/containerClass.cpython-36.pyc
modules/.ipynb_checkpoints/nonSteadyNozzleFlow-withClasses-checkpoint.ipynb
modules/__pycache__/pipeClass.cpython-36.pyc
modules/.ipynb_checkpoints/Untitled-checkpoint.ipynb
modules/.ipynb_checkpoints/ManifoldPressure-checkpoint.ipynb
modules/.ipynb_checkpoints/pipeClassExamples-checkpoint.ipynb
modules/.ipynb_checkpoints/General Solution Using Scipy-checkpoint.ipynb
modules/.ipynb_checkpoints/containerClass-checkpoint.py
modules/.ipynb_checkpoints/graph-checkpoint.ipynb
modules/.ipynb_checkpoints/pipeClass-checkpoint.py
modules/__pycache__/pipeNetwork.cpython-36.pyc
modules/__pycache__/calcTw.cpython-36.pyc
modules/__pycache__/systemDefinitions.cpython-36.pyc
modules/__pycache__/calcQ.cpython-36.pyc
modules/.ipynb_checkpoints/test_calcTw-checkpoint.ipynb
